<div class="row">
	<div class="span2">
		<%= exercise_category.name %>
	</div>

	<div class="span1">
		<%= link_to edit_exercise_category_path(exercise_category) do %>
			<span class="btn btn-mini btn-primary  center-icon">
				<i class="icon-pencil icon-white"></i>
			</span>
		<%end%>
	</div>
	<div class="span1">
		<%= link_to '<span class="btn btn-mini btn-primary center-icon">
				<i class="icon-remove icon-white"></i>
			</span>'.html_safe, exercise_category, method: :delete, data: { confirm: "You sure?" }, title: 'Delete' %>
	</div>
</div>
