<div class = "tabbable tabs-left">
	<ul id="weekTabs" class = "nav nav-tabs">
		<%= render partial: 'shared/week_day', 
			collection: @week_days %>
	</ul>
	<div id="week_tabs_content" class="tab-content my_tabs_content">
		<%= render 'shared/week_day_tab_content', 
			week_days: @week_days %>
	</div>
</div>